body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0px;
    font-family: 'roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linki {
    display: flex;
    column-gap: 20px;
    
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
    display: flex;
}

.illustration {
    width: 150px;
    height: auto;
}

.underheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #1f2937;
    color: #F9FAF8;
}

.undertop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.quotebox {
display: flex;
flex: 1 1 auto;
flex-direction: column;
background-color: #e5e7eb;
align-items: center;
}

.who {
    /* what should i do?*/
}
.signupbox {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    color: rgb(241, 241, 241);
}

.leftside {
    display: flex;
    flex-direction: column;
}

/*these are buttons*/

.upper {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    color: rgb(241, 241, 241);
}

.upper:hover {
    background-color: #1f2937;
}

.lower {
    display: flex;
    align-self: center;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: rgb(241, 241, 241);
}

.lower:hover {
    background-color: #0055ff;
}

.copyright {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
}
