body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linki {
    display: flex;
    column-gap: 20px;
    
}

h1 {
    font: 48px bolder #F9FAF8;
    /* not working?*/

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
    display: flex;
}

.underheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 50px;
}


