body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linki {
    display: flex;
    column-gap: 20px;
    
}

h1 {

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
    display: flex;
}

.illustration {
    width: 150px;
    height: auto;
}

.underheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #1f2937;
    color: #F9FAF8;
}

.undertop {

}

ul {
    display: flex;
}

.quotebox {
    display: flex;
background-color: #e5e7eb;
}

.signupbox {
    background-color: #3882f6;

}


